.footer{
    background-color: $black;
    height: 336px;
    @include breakpoint(tablet){
        display: flex;
        align-items: center;
        height: 216px;
    }
    @include breakpoint(desktop){
        display: flex;
        align-items: center;
        height: 244px;
    }
    .logotipo{
        padding: 48px 32px 38px 32px;
        @include breakpoint(tablet){
        padding: 56px 65px 120px 40px;
    
        }
        @include breakpoint(desktop){
        padding: 80px 140px 106px 165px;
        
    
        }
    }
    p{
        color: white;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
    .social{
        padding: 48px 32px;
        @include breakpoint(tablet){
        display: flex;
        align-items: center;
        padding: 56px 40px 140px 133px;
        }
        @include breakpoint(desktop){
        display: flex;
        align-items: center;
        padding: 80px 165px 144px 280px;
        }
        img{
           padding-right: 20px;
           
        }
    }
}

.footer2{
    background-color: $gold;
    height: 336px;
    @include breakpoint(tablet){
        display: flex;
        justify-content: space-evenly;
        height: auto;
        
    }
    @include breakpoint(desktop){
        display: flex;
        justify-content: space-evenly;
        height: auto;
        
    }
    .logotipo{
        padding: 48px 32px 38px 32px;
        @include breakpoint(tablet){
        padding: 56px 32px 120px 40px;
        
        }
        @include breakpoint(desktop){
        padding: 80px 140px 106px 165px;
        
        
        }
    }
    p{
        color: $black;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        @include breakpoint(tablet){
        margin-top: 56px;
        
        }
        @include breakpoint(desktop){
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 18px;
        line-height: 28px;
        
        }
    }
    .social{
        padding: 48px 32px;
        @include breakpoint(tablet){
        display: flex;
        justify-content: space-evenly;
        height: auto;
        
        }
        @include breakpoint(desktop){
        display: flex;
        justify-content: space-evenly;
        padding: 80px 165px 144px 280px ;
        
        }
        img{
           padding-right: 20px;
           
        }
    }
}